.logo{
    color: #000;
    font-family: var(--accent-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 80px;
    letter-spacing: 0.03em;
    margin-right: 93px;    
}
.logoweb{
    color: var(--accent-color);
}